<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjunfeng.demo.mybatis.dao.UserMapper" >
  <cache />
  <resultMap id="BaseResultMap" type="com.linjunfeng.demo.mybatis.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="tm_create" property="tmCreate" jdbcType="BIGINT" />
    <result column="tm_update" property="tmUpdate" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age, tm_create, tm_update, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_t
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_t
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.linjunfeng.demo.mybatis.model.User" >
    insert into user_t (id, name, age, 
      tm_create, tm_update, status
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{tmCreate,jdbcType=BIGINT}, #{tmUpdate,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linjunfeng.demo.mybatis.model.User" flushCache="false">
    insert into user_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="tmCreate != null" >
        tm_create,
      </if>
      <if test="tmUpdate != null" >
        tm_update,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="tmCreate != null" >
        #{tmCreate,jdbcType=BIGINT},
      </if>
      <if test="tmUpdate != null" >
        #{tmUpdate,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjunfeng.demo.mybatis.model.User" >
    update user_t
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="tmCreate != null" >
        tm_create = #{tmCreate,jdbcType=BIGINT},
      </if>
      <if test="tmUpdate != null" >
        tm_update = #{tmUpdate,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjunfeng.demo.mybatis.model.User" >
    update user_t
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      tm_create = #{tmCreate,jdbcType=BIGINT},
      tm_update = #{tmUpdate,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>